body { 
  background-color: rgb(222, 29, 86);   /* */
}

h1 { 
  color: rgb(242, 247, 245);
  margin-left: 20px;
}

h2 {
color: black;
margin-left: 20px;
}


h3 {
color: rgb(255, 255, 255);
margin-left: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: #f5f3f200;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none}

ul li a:hover {
  background-color: #f8fcf9;
}


