body { 
  background-color: rgb(222, 29, 86);   
} /*Dit is de kleur van de achtergrond*/

h1 { 
  color: rgb(242, 247, 245);
  margin-left: 20px;
} /*Dit is de kleur van de h1 teksten*/

h2 {
color: black;
margin-left: 20px;
} /*Dit is de kleur van de h2 teksten*/


h3 {
color: rgb(255, 255, 255);
margin-left: 20px;
} /*Dit is de kleur van de h3 teksten*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: #f5f3f200;
  display: flex;
} /*Dit is de kleur voor de menubalk*/

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none}


ul li a:hover {
  background-color: #0d0d0d;
} /*Als je met je muis over de menubalk gaat dan wordt het woord op de menubalk*/

img {
margin-left: 25px;
border-radius: 30px;
} /*Met deze tool kan je de afbeelding verpaatsen naar links*/
/*EXTRA: Margin de afstand tussen een element en een ander element*/
/*EXTRA: Padding betekent de ruimte tussen het element en de rand van de pagina*/ 

footer {
  position: sticky;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #0d0d0d;
  color: white;
  text-align: center;
}  /*Dit is de footer van de pagina's*/